@media screen and (max-width: 800px){
    .navbar-wide-screen-container {
        display: none;
    }

    .navbar-medium-screen-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .navbar-medium-screen-bottom {
        background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4); 
    }

    .contact-text-container-medium {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .contact-text-container-medium h3 {
        margin-right: 20px;
    }

    .contact-items-container-medium {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .contact-items-container-medium img {
        width: 20px;
        height: 20px;
        margin: 5px 15px 0 15px;
        cursor: pointer;
    }

    .contact-medium-main-container {
        display: flex;
        flex-direction: column;
    }

    .hamburger-medium {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
        cursor: pointer;
    }

    .hamburger-medium span {
        width: 25px;
        height: 2px;
        margin: 2px 0 2px 0;
        background-color: black;
    }

    .navbar-medium-screen-top {
        background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
        height: 175px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
        border-bottom: 3px solid rgb(9, 90, 202);

    }

    .logo-medium-container {
        width: 45%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-medium {
        background-image: url('/images/tire-network-logo-1.png');
        height: 80px;
        width: 220px;
        border: 3px solid rgb(9, 90, 202);
        padding: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        border-radius: 10px;
    }

    .contact-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact-items-container img {
        width: 25px;
        height: 25px;
        margin: 5px 10px 0 10px;
        cursor: pointer;
    }
    .contact-items-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .medium-sidebar {
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
        top: 0;
        right: 0;
        position: fixed;
        z-index: 50;
    }

    .medium-sidebar-enter {
        transform: translateX(100%);
        opacity: 0;
    }
      
      /* State at the end of entering (after entering, but before entered) */
    .medium-sidebar-enter-active {
        transform: translateX(0);
        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
        opacity: 1;
    }
      
      /* Initial state (exit) */
    .medium-sidebar-exit {
        transform: translateX(0);
        opacity: 1;
    }
      
      /* State at the end of exiting (after exiting, but before exited) */
    .medium-sidebar-exit-active {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    }

    .exit-container h4 {
        font-size: 2.5rem;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .business-info-medium-screen {
        width: 45%;
        background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
        height: 100px;
        margin-right: 20px;
        border: 3px solid white;
        border-radius: 10px;
        padding: 10px;
    }

    .phone-text-img {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}